<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net46" />
  <package id="EntityFramework.BulkInsert-ef6-ext" version="6.0.3.1" targetFramework="net46" />
  <package id="EntityFramework.MappingAPI" version="6.1.0.10" targetFramework="net46" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net46" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net46" />
  <package id="Syncfusion.Compression.Base" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.Core.WinForms" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.Data.WinForms" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.DataGridExport.WinForms" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.DataSource.WinForms" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.GridCommon.WinForms" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.Pdf.WinForms" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.SfInput.WinForms" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.SfListView.WinForms" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.Shared.Base" version="17.4.0.46" targetFramework="net46" />
  <package id="Syncfusion.XlsIO.WinForms" version="17.4.0.46" targetFramework="net46" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net46" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" />
  <package id="Unity" version="5.11.7" targetFramework="net46" />
</packages>